.c-documentsMenu {
  width: 27.5rem;
}

.c-documentsMenu__title {
  background-image: url('../images/bg-slash.gif');
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  padding: 1rem 1.2rem;
}
