.c-newsItem {
  &:nth-child(even) {
    background-image: url('../images/bg-slash.gif');
  }
}

.c-newsItem__container {
  align-items: baseline;
  display: flex;
  padding: 1rem 0;
  transition-delay: 1s;
  transition-property: background-color;

  width: 100%;
  &:hover {
    background-color: hsl(60, 17%, 98%);
  }
}

.c-newsItem__time {
  color: hsl(215, 30%, 25%);
  display: block;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.c-newsItem__category {
  align-items: center;
  border-radius: 0.5rem;
  color: hsl(0, 0%, 100%);
  display: flex;
  font-size: 1rem;
  height: 1.6rem;
  justify-content: center;
  letter-spacing: 0.1rem;
  padding: 0 1rem;
}

.c-newsItem__category--odd {
  @extend .c-newsItem__category;

  background-color: hsl(215, 31%, 25%);
}

.c-newsItem__category--even {
  @extend .c-newsItem__category;

  background-color: hsl(349, 61%, 52%);
}

/*
  詳細度を高めるので以下のように書かない。
.c-newsItem:nth-child(2n+1) > .c-newsItem__category {
  background-color: hsl(215, 31%, 25%);
}
.c-newsItem:nth-child(2n) > .c-newsItem__category {
  background-color: hsl(349, 61%, 52%);
}
*/

.c-newsItem__text {
  color: hsl(215, 30%, 25%);
  display: block;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
